# Clair component adds Clair v4 security scanner and its database.
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources: 
  - ./postgres.serviceaccount.yaml
  - ./postgres.persistentvolumeclaim.yaml
  - ./postgres.deployment.yaml
  - ./postgres.service.yaml
  - ./clair-postgres-conf-sample.configmap.yaml
  - ./clair-postgres-hba-config.configmap.yaml
