apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    quay-component: clair-app
  annotations:
    quay-component: clair
  name: clair-app
spec:
  selector:
    matchLabels:
      quay-component: clair-app
  template:
    metadata:
      labels:
        quay-component: clair-app
    spec:
      serviceAccountName: clair-app
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: quay-component
                      operator: In
                      values:
                        - clair-app
                topologyKey: "kubernetes.io/hostname"
      containers:
        - image: quay.io/projectquay/clair:nightly
          imagePullPolicy: IfNotPresent
          name: clair-app
          env:
            - name: CLAIR_CONF
              value: /clair/config.yaml
            - name: CLAIR_MODE
              value: combo
            - name: HTTP_PROXY
              valueFrom:
                secretKeyRef:
                  name: quay-proxy-config
                  key: HTTP_PROXY
            - name: HTTPS_PROXY
              valueFrom:
                secretKeyRef:
                  name: quay-proxy-config
                  key: HTTPS_PROXY
            - name: NO_PROXY
              valueFrom:
                secretKeyRef:
                  name: quay-proxy-config
                  key: NO_PROXY
          ports:
            - containerPort: 8080
              name: clair-http
              protocol: TCP
            - containerPort: 8089
              name: clair-intro
              protocol: TCP
          volumeMounts:
            - name: cluster-trusted-ca
              mountPath: /etc/pki/ca-trust/extracted/pem
              readOnly: true
            - mountPath: /clair/
              name: config
            - mountPath: /clair/config.yaml.d/01_user_config.yaml
              name: config
              subPath: 01_user_config.yaml
            - mountPath: /var/run/certs
              name: certificates
          startupProbe:
            tcpSocket:
              port: clair-intro
            periodSeconds: 10
            failureThreshold: 300
          readinessProbe:
            tcpSocket:
              port: 8080
          livelinessProbe:
            httpGet:
              port: clair-intro
              path: /healthz
          resources:
            requests:
              cpu: 2000m
              memory: 2Gi
            limits:
              cpu: 4000m
              memory: 16Gi
      restartPolicy: Always
      volumes:
        - name: cluster-trusted-ca
          configMap:
            name: cluster-trusted-ca
            items:
              - key: ca-bundle.crt
                path: tls-ca-bundle.pem
        - name: config
          secret:
            secretName: clair-config-secret
        # Mount the public certificate because we are using storage proxying.
        - name: certificates
          projected:
            sources:
              - secret:
                  name: extra-ca-certs
              - secret:
                  name: quay-config-tls
              - configMap:
                  name: cluster-service-ca
              - configMap:
                  name: cluster-trusted-ca
