# Clair component adds Clair v4 security scanner and its database.
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources: 
  - ./clair.serviceaccount.yaml
  - ./postgres.serviceaccount.yaml
  - ./clair.deployment.yaml
  - ./clair.horizontalpodautoscaler.yaml
  - ./clair.service.yaml
  - ./postgres.persistentvolumeclaim.yaml
  - ./postgres.deployment.yaml
  - ./postgres.service.yaml
vars:
  - name: CLAIR_SERVICE_HOST
    objref:
      kind: Service
      apiVersion: v1
      name: clair-app
patchesStrategicMerge:
  - ./upgrade.deployment.patch.yaml
secretGenerator:
  - name: clair-config-secret
