# Postgres component adds a Postgres database for Quay to use
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources: 
  - ./postgres.serviceaccount.yaml
  - ./postgres.persistentvolumeclaim.yaml
  - ./postgres.deployment.yaml
  - ./postgres.service.yaml
  - ./init.job.yaml
secretGenerator:
  # NOTE: `postgres-config-secret` fields generated in `kustomize.go`.
  - name: postgres-config-secret
  - name: postgres-bootstrap
    files:
      - ./create-extensions.sh
