# permissions for end users to edit quayregistries.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: quayregistry-editor-role
rules:
- apiGroups:
  - quay.redhat.com.quay.redhat.com
  resources:
  - quayregistries
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - quay.redhat.com.quay.redhat.com
  resources:
  - quayregistries/status
  verbs:
  - get
