apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: quayecosystems.redhatcop.redhat.io
spec:
  group: redhatcop.redhat.io
  names:
    kind: QuayEcosystem
    listKind: QuayEcosystemList
    plural: quayecosystems
    singular: quayecosystem
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            imagePullSecretName:
              type: string
            quay:
              properties:
                configRouteHost:
                  type: string
                database:
                  properties:
                    cpu:
                      type: string
                    credentialsSecretName:
                      type: string
                    image:
                      type: string
                    memory:
                      type: string
                    type:
                      type: string
                    volumeSize:
                      type: string
                  type: object
                enableNodePortService:
                  type: boolean
                image:
                  type: string
                registryStorage:
                  properties:
                    persistentVolume:
                      properties:
                        accessModes:
                          items:
                            type: string
                          type: array
                        capacity:
                          type: string
                        storageClassName:
                          type: string
                      type: object
                    storageDirectory:
                      type: string
                  type: object
                replicas:
                  format: int32
                  type: integer
                routeHost:
                  type: string
              type: object
            redis:
              properties:
                image:
                  type: string
                replicas:
                  format: int32
                  type: integer
                skip:
                  type: boolean
              type: object
          type: object
        status:
          properties:
            message:
              type: string
            phase:
              type: string
          type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
