apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: quay-operator
rules:
- apiGroups:
  - ""
  resources:
  - services
  - serviceaccounts
  - pods
  - pods/exec
  - configmaps
  - persistentvolumeclaims
  verbs:
  - 'create'
  - 'update'
  - 'get'
  - 'list'
  - 'watch'
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - 'create'
  - 'update'
  - 'put'
  - 'patch'
  - 'get'
  - 'list'
  - 'watch'
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - 'get'
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - 'create'
  - 'update'
  - 'get'
  - 'list'
  - 'watch'
  - 'patch'
- apiGroups:
  - extensions
  resources:
  - deployments
  verbs:
  - 'create'
  - 'update'
  - 'get'
  - 'list'
  - 'watch'
  - 'patch'
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - cop.redhat.com
  resources:
  - '*'
  - quayecosystems
  verbs:
  - '*'
- apiGroups:
  - security.openshift.io
  resources:
  - securitycontextconstraints
  verbs:
  - 'update'
  - 'get'
  - 'list'
  - 'watch'
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - 'create'
  - 'update'
  - 'get'
  - 'list'
  - 'watch'
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  - roles
  verbs:
  - 'create'
  - 'update'
  - 'get'
  - 'list'
  - 'watch'
