name: CI/CD
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Go Configuration
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Checkout code
        uses: actions/checkout@v1

      - name: Build
        run: make

      - name: Golang Test
        run: make native-test

      #      - name: Helm Test
      #        env:
      #          HELM_VERSION: v3.0.3
      #          CT_VERSION: 3.0.0-beta.1
      #          CHART_DIRECTORY: "./charts/quay-operator"
      #        run: |
      #          sudo apt-get -y install yamllint
      #          wget https://get.helm.sh/helm-${HELM_VERSION}-linux-amd64.tar.gz
      #          tar zxf helm-${HELM_VERSION}-linux-amd64.tar.gz
      #          sudo mv linux-amd64/helm /usr/local/bin
      #          rm -rf linux-amd64
      #          pip install wheel
      #          sudo pip install yamale
      #          wget https://github.com/helm/chart-testing/releases/download/v${CT_VERSION}/chart-testing_${CT_VERSION}_linux_amd64.tar.gz
      #          tar zxf chart-testing_${CT_VERSION}_linux_amd64.tar.gz
      #          mkdir $HOME/.ct
      #          mv etc/* $HOME/.ct/
      #          sudo mv ct /usr/local/bin/
      #          helm template ${CHART_DIRECTORY} > quay-operator-yamllint.yml
      #          yamllint quay-operator-yamllint.yml
      #          ct lint

      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: quay-operator
          path: build/_output/bin

  latest-image:
    name: Build Latest Image
    runs-on: ubuntu-latest
    if: "github.repository == 'sabre1041/quay-operator'"
    needs: ["build"]
    steps:
      - name: Check out code
        uses: actions/checkout@v1

      - name: Download Artifact
        uses: actions/download-artifact@v1
        with:
          name: quay-operator
          path: build/_output/bin

      - name: Update Operator Binary Permissions
        run: chmod 775 build/_output/bin/quay-operator

  #      - name: Build and Publish Latest Image
  #        env:
  #          DOCKER_USER: ${{ secrets.DockerUser }}
  #          DOCKER_PASSWORD: ${{ secrets.DockerPassword }}
  #          REPOSITORY: ${{ secrets.Repository }}
  #        run: "make ci-latest-deploy"

  release-image:
    name: Build Release Image
    runs-on: ubuntu-latest
    if: "github.repository == 'redhat-cop/quay-operator' && startsWith(github.ref, 'refs/tags')"
    needs: ["build"]
    steps:
      - name: Check Out Code
        uses: actions/checkout@v1

      - name: Download Artifact
        uses: actions/download-artifact@v1
        with:
          name: quay-operator
          path: build/_output/bin

      - name: Update Operator Binary Permissions
        run: chmod 775 build/_output/bin/quay-operator

      - name: Build and Publish Release Image
        env:
          DOCKER_USER: ${{ secrets.DockerUser }}
          DOCKER_PASSWORD: ${{ secrets.DockerPassword }}
          REPOSITORY: ${{ secrets.Repository }}
        run: "make ci-release-deploy"
