name: Release Charts

on:
  push:
    branches:
      - master
    paths:
      - "charts/**"

jobs:
  helm-release:
    name: Build Helm Release
    runs-on: ubuntu-latest
    if: "github.repository == 'sabre1041/quay-operator'"
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Helm Test
        id: lint
        uses: helm/chart-testing-action@v1.0.0-rc.2
        with:
          command: lint
          config: ct.yaml

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.0.0-rc.1
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
