name: image

on:
  pull_request_target:
    branches:
      - master

jobs:
  image:
    name: image
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@v2
      with:
        repository: ${{ github.event.pull_request.head.repo.full_name }}
        ref: ${{ github.event.pull_request.head.ref }}

    - name: registry login
      uses: docker/login-action@v1
      with:
        registry: quay.io
        username: projectquay+quay_github
        password: ${{ secrets.QUAY_TOKEN }}

    - name: build image
      id: push
      uses: docker/build-push-action@v2
      with:
        push: true
        context: ./
        tags: quay.io/projectquay/quay-operator:pr-${{ github.event.number }}
